[submodule "darknet_vendor"]
	path = darknet_vendor
	url = https://github.com/ros2/darknet_vendor.git
	branch = master
[submodule "detection_visualizer"]
	path = detection_visualizer
	url = https://github.com/mgonzs13/detection_visualizer.git
	branch = master
